<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589370643970-476fei7neib8kiu1uc4admdvhh1th281.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589370643970-476fei7neib8kiu1uc4admdvhh1th281</string>
	<key>API_KEY</key>
	<string>AIzaSyA8T112A8MJkfYG9gK8psXHW13d2oflr1k</string>
	<key>GCM_SENDER_ID</key>
	<string>589370643970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phsartech.cmcr</string>
	<key>PROJECT_ID</key>
	<string>cmcr-f8505</string>
	<key>STORAGE_BUCKET</key>
	<string>cmcr-f8505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589370643970:ios:a8e5247446ab95319db91b</string>
	<key>DATABASE_URL</key>
	<string>https://cmcr-f8505.firebaseio.com</string>
</dict>
</plist>